<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Noticias</h1>
		<% for(var i=0; i < noticias.length; i++) {%>
			<ul>
				<li><%=noticias[i].id %></li>
				<li><%=noticias[i].titulo %></li>
				<li><%=noticias[i].descricao %></li>
			</ul>
		<% } %>	
	</body>
</html>